<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Universidad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ESCUELA</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>CORREO</th>
                    <th>TELEFONO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona:${personas}">
                    <td th:text="${persona.id}">${persona.id}</td>
                    <td th:text="${persona.escuela}">${persona.escuela}</td>
                    <td th:text="${persona.nombre}">${persona.nombre}</td>
                    <td th:text="${persona.apellido}">${persona.apellido}</td>
                    <td th:text="${persona.correo}">${persona.correo}</td>
                    <td th:text="${persona.telefono}">${persona.telefono}</td>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>